<a href="https://colab.research.google.com/github/RayonBiswas/python_lab/blob/main/Python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lab 31/7/2025

In [ ]:
print(1)

x = 2
print(x)

1
2

In [ ]:
print("My name is rohan")

name = "rohan"

print(name)

My name is rohan
rohan

In [ ]:
message = 'Good Morning !'

print (message)

note ="'This is Paragraph of my text'"

print(note)

Good Morning !
'This is Paragraph of my text'

In [ ]:
#Indexing

s="Python Rocks "

print(s[0:6])

print(s[7:])

print(s[3:9])

Python
Rocks
hon Ro

In [ ]:
#Concatenation(Jioning Strings)

greeting= "Hello "
name = "Coder"

print(greeting + name)

print ( s + " is fun!")

Hello Coder
Python Rocks  is fun!

In [ ]:
#Repetition

print (s*2)

Python Rocks Python Rocks

In [ ]:

#Membership

print("P" in s)

print("Rocks" in s)

print("python" in s)

s[-1]

p = 'VJTI is cool'

print(p)

True
True
False
VJTI is cool

In [ ]:
#LIST

fruits = ["Apple" , "Banana" , "Cherry" , "Mango"]

In [ ]:
print(fruits[1:2])
print(fruits[2:])
print(fruits[2:4])

['Banana']
['Cherry', 'Mango']
['Cherry', 'Mango']

In [ ]:
veggis=["carrot", "tomato"]
baskets=veggis+fruits
print(baskets)

['carrot', 'tomato', 'Apple', 'Banana', 'Cherry', 'Mango']

In [ ]:
print(veggis*2)

['carrot', 'tomato', 'carrot', 'tomato']

In [ ]:
print("banana" in fruits)

False

In [ ]:
fruits[1]="orange"
print(fruits)

['Apple', 'orange', 'Cherry', 'Mango']

In [ ]:
fruits.insert(2,"grapes")
print(fruits)

['Apple', 'orange', 'grapes', 'Cherry', 'Mango']

In [ ]:
fruits.append("kiwi")
print(fruits)

['Apple', 'orange', 'grapes', 'Cherry', 'Mango', 'kiwi']

In [ ]:
fruits.remove("Apple")
print(fruits)

['orange', 'grapes', 'Cherry', 'Mango', 'kiwi']

In [ ]:
del fruits[1]
print(fruits)

['orange', 'Cherry', 'Mango', 'kiwi']

In [ ]:
for _ in fruits:
  print(_)

orange
Cherry
Mango
kiwi

In [ ]:
subjects=("maths" ,"english", "marathi", "hindi", "history")
print(subjects)

('maths', 'english', 'marathi', 'hindi', 'history')

In [ ]:
print(subjects[0])
print(subjects[-1])

maths
history

In [ ]:
print(subjects[1:4])
print(subjects[:3])

('english', 'marathi', 'hindi')
('maths', 'english', 'marathi')

In [ ]:
sport=("pe", "yoga")
all_lec=subjects+sport
print(all_lec)

('maths', 'english', 'marathi', 'hindi', 'history', 'pe', 'yoga')

In [ ]:
print(sport*2)

('pe', 'yoga', 'pe', 'yoga')

# Python Lab 6/8/2025

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))
print(mytuple[1])
# Slicing
print(mytuple[1:3])
print(mytuple*2)

<class 'tuple'>
banana
('banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
# Create a dictionary
my_dict = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("Original dictionary:", my_dict)

# Accessing values
print("Brand:", my_dict["brand"])
print("Model:", my_dict.get("model")) # Another way to access values

# Adding a new key-value pair
my_dict["color"] = "red"
print("Dictionary after adding color:", my_dict)

# Changing a value
my_dict["year"] = 2020
print("Dictionary after changing year:", my_dict)

# Deleting an item
del my_dict["model"]
print("Dictionary after deleting model:", my_dict)

# Checking if a key exists
print("Is 'brand' in dictionary?", "brand" in my_dict)
print("Is 'model' in dictionary?", "model" in my_dict)

Original dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Brand: Ford
Model: Mustang
Dictionary after adding color: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
Dictionary after changing year: {'brand': 'Ford', 'model': 'Mustang', 'year': 2020, 'color': 'red'}
Dictionary after deleting model: {'brand': 'Ford', 'year': 2020, 'color': 'red'}
Is 'brand' in dictionary? True
Is 'model' in dictionary? False

In [ ]:
number = 10

if number > 0:
  print("The number is positive")
else:
  print("The number is not positive")

The number is positive

# Python lab 13/8/2025

In [ ]:
a=5
b=6
c=a+b
print(c)

11

In [ ]:
print("hi"+"world")

hiworld

In [ ]:
# checking indentation error
if (a>5):
print("done")

IndentationError: expected an indented block after 'if' statement on line 2 (ipython-input-3285665532.py, line 3)

In [ ]:
# swap algorihm
a=5
b=6
temp=a
a=b
b=temp
print(a,b)

In [ ]:
# Tuple packing
packed_tuple = (1, 2, 3)
print("Packed tuple:", packed_tuple)

# Tuple unpacking
x, y, z = packed_tuple
print("Unpacked variables:", x, y, z)

In [ ]:
email="xyzextc@gmail.com"
x,y=email.split('@')
print(x,y)

In [ ]:
# Basic arithmetic operators

a = 10
b = 5

# Addition
sum_result = a + b
print(f"Addition: {a} + {b} = {sum_result}")

# Subtraction
difference = a - b
print(f"Subtraction: {a} - {b} = {difference}")

# Multiplication
product = a * b
print(f"Multiplication: {a} * {b} = {product}")

# Division
division_result = a / b
print(f"Division: {a} / {b} = {division_result}")

# Modulo (remainder)
modulo_result = a % b
print(f"Modulo: {a} % {b} = {modulo_result}")

# # Exponentiation
# exponentiation_result = a ** b
# print(f"Exponentiation: {a} ** {b} = {exponentiation_result}")

In [ ]:
print(a>b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

In [ ]:
# assisgnment operator
c=5
a=5
b=10
c+=a
print(c)
c-=b
print(c)

10
0

In [ ]:
# bitwise operators

a = 6  # Binary: 110
b = 3  # Binary: 011


print(f"a & b = {a & b}")


print(f"a | b = {a | b}")


print(f"a ^ b = {a ^ b}")


print(f"a << 1 = {a << 1}")

print(f"a >> 1 = {a >> 3}")

a & b = 2
a | b = 7
a ^ b = 5
a << 1 = 12
a >> 1 = 0

In [ ]:
# Basic operator precedence - BODMAS

# Example 1: Multiplication and Addition
result1 = 2 + 3 * 4  # Multiplication happens before addition
print(f"Result of 2 + 3 * 4: {result1}")

# Example 2: Parentheses
result2 = (2 + 3) * 4  # Parentheses change the order of operations
print(f"Result of (2 + 3) * 4: {result2}")

# Example 3: Division and Subtraction
result3 = 10 - 4 / 2  # Division happens before subtraction
print(f"Result of 10 - 4 / 2: {result3}")

# Example 4: Exponentiation
result4 = 2 ** 3 + 1  # Exponentiation happens before addition
print(f"Result of 2 ** 3 + 1: {result4}")

# Example 5: Combination
result5 = (5 + 3) * 2 - 10 / 5 # Parentheses, then multiplication/division, then addition/subtraction
print(f"Result of (5 + 3) * 2 - 10 / 5: {result5}")

Result of 2 + 3 * 4: 14
Result of (2 + 3) * 4: 20
Result of 10 - 4 / 2: 8.0
Result of 2 ** 3 + 1: 9
Result of (5 + 3) * 2 - 10 / 5: 14.0

In [ ]:
# Define a basic function
def greet(name):
  """This function greets the person passed in as a parameter."""
  print(f"Hello, {name}!")

# Call the function
greet("Rohan")
greet("Coder")

Hello, Rohan!
Hello, Coder!

In [ ]:
numbers=[10,25,5,60]
maxi=max(numbers)
mini=min(numbers)
print(maxi, mini)

60 5

In [ ]:
print(list(range(2,8,5)))

[2, 7]

In [ ]:
def add(a,b):
  return a+b

print(add(5,6))

11

In [ ]:
def add():
  a=int(input("Enter first number: "))
  b=int(input("Enter second number: "))
  return a+b

print(add())

In [ ]:
# Basic built-in functions

# max(), min(), and len()
print(f"Max of [1, 5, 2]: {max([1, 5, 2])}")
print(f"Min of [1, 5, 2]: {min([1, 5, 2])}")
print(f"Length of 'hello': {len('hello')}")

# range()
print("Range from 0 to 3:")
for i in range(4):
  print(i)

# round()
print(f"Round 3.7 to nearest integer: {round(3.7)}")

# chr() and int()
print(f"Character for ASCII 66: {chr(66)}")
print(f"Integer from float 9.9: {int(9.9)}")

In [ ]:
# Simple examples of max(), min(), and range()

# Using max() and min() with a list of numbers
numbers = [10, 4, 25, 8]
maximum_number = max(numbers)
minimum_number = min(numbers)
print("The maximum number in the list is:", maximum_number)
print("The minimum number in the list is:", minimum_number)

# Using range() to iterate through numbers
print("Counting from 0 to 4 using range():")
for i in range(5):
  print(i)

print("Counting from 2 to 5 using range(2, 6):")
for i in range(2, 6):
  print(i)

In [ ]:
print(list(range(2, 8, 1)))

In [ ]:
print(f"{list(range(2,20,1))}\n")

In [ ]:
def myadd(a,b):
  return a+b
print(myadd(5,6))

In [ ]:
def myadd2():
  a = input("Enter first number a: ")
  b = input("Enter first number b: ")
  print(int(a)+int(b))
myadd2()

In [ ]:
def myDetails(name,age):
  print("Name: "+ name)
  print("Age: " + age)
myDetails("Rohan","18")
myDetails("Arhan","19")
myDetails("Rayon","100")

In [ ]:
def myDetails2(name, age=40):
  print("Name: "+ name)
myDetails2(name = "Rohan")

In [ ]:
def myDetailsvar(*name):
  print(*name)
myDetailsvar("Rayon", "Arhan", "Sahil", "Harshit")

In [ ]:
import math
print(math.sqrt(100))

In [ ]:
a=5
b=6
a,b=b,a
print(a,b)

6 5

In [ ]:
import math

x2,x1=15,10
y2,y1=32,21
print(math.sqrt((x2-x1)**2+(y2-y1)**2))

12.083045973594572

In [ ]:
math=int(input("enter math marks"))
phy=int(input("enter phy marks"))
chem=int(input("enter chem marks"))
cutoff=math/4+phy/4+chem/2
print(cutoff)

enter math marks100
enter phy marks100
enter chem marks100
100.0

# 9/9/25

In [4]:
num = input("Enter a number: ")
num = int(num)
if num>0:
  print("Positive")
elif num<0:
  print("Negative")
else:
  print("Number is 0")

Enter a number: 0
Number is 0

In [7]:
num = input("Enter a number: ")
num = int(num)
if num%2==0:
  print("Even")
else:
  print("Odd")

Enter a number: 46454
Even